# 위에서 아래로

In [4]:
n = int(input())

# n개의 정수 입력받기
array = []

for i in range(n):
    array.append(int(input()))

array = sorted(array, reverse=True)

#출력
for i in array:
    print(i, end=' ')

3
27
15
18
27 18 15

# 성적이 낮은 순서로 학생 출력

In [11]:
n = int(input())

array = []

def setting(data):
    return data[1]

for i in range(n):
    a, b = input().split(' ')
    lst = [a, int(b)]
    array.append(lst)

array = sorted(array, key=setting)

for i in array:
    print(i[0], end=' ')

2
홍길동 95
이순신 77
이순신 홍길동

# 두 배열의 원소 교체

In [27]:
n, k = map(int, input().split())

a = list(map(int, input().split()))
b = list(map(int, input().split()))




for i in range(k):
    tmp = min(a)
    tmp_idx = a.index(tmp)

    tmp_2 = max(b)
    tmp_idx_2 = b.index(tmp_2)
    a[tmp_idx], b[tmp_idx_2] = b[tmp_idx_2], a[tmp_idx]
    
print(sum(a))

5 3
1 2 5 4 3
5 5 6 6 5
26